
body{
  background-color: rgb(6, 6, 80);
  text-align: center;
}

body h1{
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
}

footer li{
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: left;
}

footer h2{
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: left;
}

p{
  color:white;
  font-size: 20px;
}

.top{
  display: inline-flex;
  background-color: black;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  flex-wrap: wrap;

  
}

.content{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  margin-top: 150px;
}

img{
  border: solid gold;
}

.about-me-logo{
  width: 60%;
  height: 100%;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:darkgoldenrod;
  text-align: left;
}

.highlight {
  color: white; /* Change color to black */
}

.tabs{
  display:flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabs a {
  color:white;
  text-decoration: none; /* Remove underline from links */
  padding: 5px; /* Add padding for spacing */
  margin-top: 20px;
}





