#hero-avatar{
    height: 40vh;
    justify-content: center;
    text-align: center;
}

#hero-page{
    background-image: url("./img/test1.avif");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#stanley-dp{
    border-radius: 50%;
    border: solid grey;
}

#hero-avatar > p{
    color: black;
}

#stanley-dp{
    margin-bottom: 40px;
}

#quick-preview{
    text-align: center;
    background-image: url("./img/work_exp\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel-card > ol > li{
    padding-bottom: 10px;
}

#carousel-card{
    background-color: wheat;
}
